<html>
<head>
<title>facebookConnected</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"></link>
</head>
<body class="container">
	<div class="navbar bg-primary navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand font-weight-bold">SpringSocialFacebook</a>
			</div>

		</div>

	</div>
	<br />
	<br />
	<h4>Connected to Facebook</h4>

	<p>
		You are now connected to  Facebook. Click <a href="/">here</a>
		to see some entries from your Facebook feed.
	</p>
	</body>
</html>